<li class="bookmark-list" uid="{{id}}">
    <div class="bm-dark-layer"></div>
    <div class="bookmark-photo" style="background-image: url({{thumbnail}})">
        <div class="bookmark-element">
            <div class="store-name">
                {{title}}
                <button class="btn-bookmark">
                    <i class="bookmark-btn fa fa-star"></i>
                </button>
            </div>
            <div class="commentary">
                {{comment}}
            </div>
        </div>
    </div>
</li>
