<footer>
    <div class="footer-container">
        <div class="site-logo">
            <img src="../img/logo1.jpg">
            <span class="footer-title">콕콕</span><br>
            <span class="footer-subtitle">The World, what we're making. COCK! COCK!</span>
        </div>
        <ul class="footer-menu">
            <li>공지사항</li>
            |
            <li>이용약관</li>
            |
            <li>비회원 이용자 이용정책</li>
            |
            <li>개인정보처리방침</li>
            |
            <li>위치기반서비스 이용약관</li>
            |
            <li>커뮤니티 가이드라인</li>
            |
            <li>문의하기</li>
        </ul>
        <div class="hot-place-container">
            <div class="hot-place">
                <span>인기지역 :</span>
                <div>강남 </div>
                |
                <div>이태원</div>
                |
                <div>홍대</div>
                |
                <div>가로수길</div>
                |
                <div>신촌</div>
                |
                <div>명동</div>|
                <div>대학로</div>|
                <div>연남동</div>|
                <div>합정</div>|
                <div>부산</div>|
                <div>대구</div>|
                <div>여의도</div>|
                <div>건대</div>|
                <div>광화문</div>|
                <div>혜화</div>|
                <div>서래마을</div>|
                <div>인천</div>|
                <div>종로</div>|
                <div>상수</div>
            </div>
        </div>
    </div>
    <div class="copyright">
        (주)HANBIT Co. 대표이사 : 정문기 | 사업자 등록번호: | 서울 마포구 신수동 63-14 <br>
        &copy; Copyright hanbit Co.,Ltd , All rights reserved.
    </div>
</footer>
