<header>
    <div class="header-wrapper">
        <!--<div class="header-btn-member navicon"><i class="fa fa-navicon"></i></div>-->
        <div class="header-logo-wrapper">
            <div class="back-button">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="header-logo"></div>
            <div class="header-title"></div>
            <div class="write-button">
                <i class="fa fa-pencil-square"></i>
            </div>
        </div>
        <div class="rest-submenu">
            <!-- 식당정보 팝업 -->
        </div>
        <div class="search-wrapper">
            <div class="search-toggle header-search-icon">
                <i class="fa fa-search"></i>
            </div>
            <div class="header-search-bar">
                <i class="fa fa-search"></i>
                <input id="search-input" type="search" placeholder="검색할 단어를 입력하세요.">
                <span class="search-toggle header-close-icon">X</span>
            </div>
            {{#if signedIn}}
                    {{# if avatar}}
                        <div class="header-bt" style="background-image: url({{avatar}})">
                        </div>
                    {{else}}
                        <div class="header-bt">
                            <i class="fa fa-user"></i>
                        </div>
                    {{/if}}
            {{else}}
                    <div class="header-bt" >
                        <i class="fa fa-user"></i>
                    </div>
            {{/if}}

        </div>
    </div>
</header>
