<header>
    <div class="header-wrapper">
        <div class="header-btn-member navicon"><i class="fa fa-navicon"></i></div>
        <div class="header-logo-wrapper">
            <div class="back-button">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="header-logo"></div>
        </div>
        <div class="search-wrapper">
            <div class="search-toggle header-search-icon">
                <i class="fa fa-search"></i>
            </div>
            <div class="header-search-bar">
                <i class="fa fa-search"></i>
                <input class="search-input" type="search" placeholder="검색창입니다.">
                <span class="search-toggle header-close-icon">X</span>
            </div>
            <button class="header-bt">
                <i class="fa fa-user"></i>
            </button>
        </div>
    </div>
</header>
