@font-color: #333;
@global-width: 900px;
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  height: 100%;
}

body {
  position: relative;
  color: @font-color;
  padding-top: @header-height + 20px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

.dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 레드 그린 블루 알파*/
}

.overlay-layer {
  z-index: 1000;
}

@header-height: 80px;
@header-margin-bottom: 40px;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @header-height;
  margin-bottom: @header-margin-bottom;
  color: #888;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.header-wrapper {
  position: relative;
  margin: 0 auto;
  box-sizing: content-box;
  z-index: 101;
  text-align: center;
}

.header-btn-member {
  position: absolute;
  top: 20px;
  left: 10px;
  margin-right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.header-logo-wrapper {
  display: inline-block;
  margin: 0 auto;
  color: #555;
  font-family: 'Hanna', serif;
  font-size: 34px;
}

.back-button {
  display: none;
  vertical-align: middle;
  cursor: pointer;
}

.header-logo {
  display: inline-block;
  margin: 20px 30px 0 30px;
  width: 200px;
  height: 34.7px;
  background: url('../img/main-logo.png') 0 0;
  background-size: contain;
  cursor: pointer;
}

.header-title {
  display: none;
  margin: 20px 10px 10px 20px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.search-wrapper {
  position: absolute;
  top: 20px;
  right: 0;
}

.header-search-bar {
  margin-right: 35px;
  float: left;
  display: none;
  font-size: 26px;
  border-bottom: solid 1px #666;
}

.header-search-bar > input {
  min-width: 320px;
  background-color: transparent;
}

.header-search-icon {
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 35px;
  vertical-align: top;
}

.header-close-icon {
  cursor: pointer;
}

.header-close-icon:hover {
  opacity: 0.7;
}

.header-bt {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  color: #353744;
  letter-spacing: 0;
  border: 1px solid #4a4a4a;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #FFFFFF;
  /*background: transparent 50% 50%;*/
}

.header-bt > i {
  margin-top: 15px;
}

.header-bt:hover {
  color: #999;
}

@footer-bg-color: #2d2e2e;
@footer-fg-color: #666;
@footer-fg-color-highlight: #999;

footer {
  margin-top: 80px;
  padding: 80px 50px 110px 50px;
  background-color: @footer-bg-color;
  color: @footer-fg-color;
}

.footer-container {
  margin: 0 auto;
}

.site-logo {

  img {
    width: 300px;
  }

}

.footer-title {
  margin-left: 20px;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 20px;
}

.footer-subtitle {
  font-weight: bold;
  font-size: 15px;
}

.footer-menu {
  text-align: center;
  margin: 20px auto;
  padding: 30px 0;
  border-bottom: solid 1px @footer-fg-color;
  width: 80%;
  font-weight: bold;

  li {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;

    &:hover {
      color: @footer-fg-color-highlight;
    }
  }
}

.hot-place-container {
  margin: 30px auto 0;
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
  width: 80%;
  border-bottom: solid 1px @footer-fg-color;
}

.hot-place {
  max-width: 70%;
  margin: 0 auto;

  div {
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: @footer-fg-color-highlight;
    }
  }
}

.copyright {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}
