@import 'common';

body {
  background-color: #f7f7f7;
}

li {
  list-style: none;
}

.cock-detail {
  position: relative;
}

.detail-sort-wrapper {
  position: absolute;
  top: 10px;
  right: 250px;
  font-family: 'Hanna', serif;
  font-size: 20px;
  color: #555;
}

.detail-sort-wrapper > li {
  display: inline-block;
  margin: 0 10px;
}

.detail-sort-wrapper > li:hover {
  color: #ff4461;
  cursor: pointer;
}

.cock-wrapper {
  position: relative;
  max-width: 790px;
  min-width: 790px;
  margin: 0 auto;
  height: auto;
}

.content-wrapper {
  position: relative;
  margin: 3px 3px 10px;
  padding: 10px;
  font-family: 'Noto Sans KR', serif;
  background-color: #fff;
  border: 2px solid #fafafa;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.content-wrapper:hover {
  box-shadow: 0 3px 10px rgba(34, 25, 25, 0.7);
}

.user-info {
  position: relative;
  background-color: #fff;

  #user-img {
    display: inline-block;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    background-position: 50% 50%;
    background-size: cover;
    vertical-align: 50%;
    cursor: pointer;
  }

  #user-name {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    vertical-align: 100%;
    cursor: pointer;
  }

  .user-achievement {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 50px;

    li {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      width: 25px;
      height: 25px;
      background-position: center;
      background-size: cover;
      cursor: pointer;
    }

    li .achievement-tooltip {
      position: absolute;
      min-width: 100px;
      padding: 5px 10px;
      top: -45px;
      left: -50px;
      background-color: rgba(5, 5, 5, 0.5);
      border-radius: 6px;
      color: #fff;
      font-weight: bold;
      font-size: 11px;
      text-align: center;
      visibility: hidden;
      z-index: 1000;
    }

    li:hover .achievement-tooltip {
      visibility: visible;
    }
  }
}

.detail-gallery-wrapper {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
}

.card-setting {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 25px;
  padding-right: 10px;
  color: #555;
  font-size: 24px;
  text-align: right;
  cursor: pointer;

  .setting-menu {
    display: none;
    position: absolute;
    width: 60px;
    height: 55px;
    top: -25px;
    left: 9px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #fafafa;
    box-shadow: 0 3px 10px rgba(34, 25, 25, 0.7);
    color: #707070;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    z-index: 3000;
  }

  .setting-menu > button {
    width: 100%;
    height: 50%;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .setting-menu > button:first-child {
    border-bottom: solid 2px #8a8a8a;
  }

  .setting-menu > button:active {
    background-color: rgba(215, 215, 215, 0.4);
  }
}

.food-img-wrapper {
  height: auto;

  .food-img-tag {
    position: relative;
    width: 360px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
  }

  .food-img-tag > li {
    display: none;
  }

  .food-img-tag > li.active {
    display: inline-block;
  }
}

.food-img-tag:hover {
  .food-img-prev,
  .food-img-next {
    opacity: 1;
  }
}

.food-img-prev,
.food-img-next {
  display: inline-block;
  position: absolute;
  bottom: 0;
  font-size: 28px;
  color: #f7f7f7;
  cursor: pointer;
  transition-duration: 0.6s;
  opacity: 0;
}

.food-img-prev {
  left: 10px;
}

.food-img-next {
  right: 10px;
}

.food-img-dot {
  margin: 0 auto;
  text-align: center;
}

.food-img-dot > li {
  display: inline-block;
  margin: 0 4px;
  width: 12px;
  height: 12px;
  border: solid 1px #3C3C3C;
  border-radius: 12px;
  cursor: pointer;
}

.food-img-dot > li.active {
  background-color: #3C3C3C;
}

.detail-menu-tag {
  visibility: hidden;
  padding: 5px 15px;
  background-color: rgba(5, 5, 5, 0.4);
  color: #fff;
  font-family: 'Hanna', serif;
  z-index: 4500;
}

.food-text {
  position: relative;
  background-color: #fff;
  letter-spacing: -1.2px;
}

.food-eaten {
  margin-left: 12px;
  padding-top: 4px;
  width: 300px;
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.food-tag {
  color: #002395;
  text-align: left;

  li {
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
  }
}

.food-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #666;
  font-size: 18px;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 7px;
    cursor: pointer;
  }

  li:nth-child(2) {
    color: #ff4461;
  }
}

.go-top-btn {
  position: fixed;
  right: 200px;
  bottom: 20px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  background-color: #fff;
  color: @footer-bg-color;
  border-radius: 50px;
  border: solid 1px #ddd;
  outline: none;
  z-index: 5000;
}

.go-top-btn:hover {
  color: #fff;
  background-color: @footer-bg-color;
}

.rest-submenu {
  display: none;
  position: absolute;
  top: 100% + 20px;
  right: 20px;
  height: auto;
  text-align: left;
  color: #fff;
  line-height: -2px;
  z-index: 500;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.rest-photo {
  margin: 10px auto;
  background-size: cover;
  background-position: 0 0;
}

.rest-info {
  position: relative;
  padding: 10px 15px 10px 15px;
  font-family: 'Hanna', serif;
}

/* Mobile Device */
@media all and (min-width: 320px) and (max-width: 1024px) {
  #cock-restaurants-left,
  #cock-restaurants-right {
    display: none;
  }

  #cock-restaurants-mobile {
    width: 100%;
    vertical-align: top;
  }

  .content-wrapper {
    display: inline-block;
    max-width: 100%;
    min-height: 274px;
  }

  .food-img-wrapper {
    float: left;

    .food-img {
      width: 390px;
    }
  }

  .food-text {
    position: relative;
    margin: 0 10px 10px 20px;
    width: 340px;
    height: auto;
    float: left;

    .food-detail {
      margin: 5px 20px 10px 10px;
      width: 310px !important;
      height: auto !important;
      white-space: normal !important;
    }

    .food-tag {
      margin-top: 20px;
      padding: 10px;
    }
  }

  .food-icon {
    margin: 30px 10px 5px 10px;
  }

  .btn-more {
    display: none;
  }

  .rest-submenu {
    margin-top: 40px;
    width: 170px;
    background-color: rgba(5, 5, 5, 0.4);
  }

  .rest-photo {
    width: 160px;
    height: 90px;
  }

  .rest-info {
    font-size: 11px;
  }

  .go-top-btn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .detail-sort-wrapper {
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: 'Hanna', serif;
    font-size: 14px;
    color: #555;
  }
}

/* Desktop Device */
@media all and (min-width: 1025px) {
  #cock-restaurants-left,
  #cock-restaurants-right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  #cock-restaurants-mobile {
    display: none;
  }

  .content-wrapper {
    max-width: 384px;
    //background-color: #666;
  }

  .food-img-wrapper {
    .food-img {
      width: 360px;
    }
  }

  .food-text {
    margin: 10px;

    .food-detail {
      margin: 24px 30px 30px;
      width: 130px;
      height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .food-tag {
      margin: 30px 0 10px;
    }
  }

  .food-icon {
    margin: 10px;
  }

  .btn-more {
    position: absolute;
    bottom: 40px;
    right: 160px;
    margin-left: 10px;
    color: #999;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }

  .rest-submenu {
    margin-top: 50px;
    width: 340px;
    background-color: rgba(5, 5, 5, 0.8);
  }

  .rest-photo {
    width: 320px;
    height: 180px;
  }

  .go-top-btn {
    width: 100px;
    height: 40px;
    border-radius: 40px;
  }

  .detail-sort-wrapper {
    position: absolute;
    top: 10px;
    right: 250px;
    font-family: 'Hanna', serif;
    font-size: 20px;
    color: #555;
  }
}
