@import 'common.less';

@insert-font-size: 15px;

.kk-shop {
  width: @global-width;
  margin: 0px auto;
}

#google-map {
  width: @global-width;
  height: 500px;
}

.kk-coordinate {
  margin-top: 10px;
  font-size: @insert-font-size;
}

.kk-sign {
  margin-top: 10px;
  font-size: @insert-font-size;
}

.kk-classify-dropdown > div {
  display: inline-block;
  width: 30%;

  button {
    width: 80%;
  }
}

.kk-card {
  width: @global-width;
  margin: 0px auto;
}

#kk-btn-background {
  display: none;
}

#background-preview {
  position: relative;
  background-image : url('../img/duch.jpg');
  background-size: cover;
  width: 640px;
  height: 455px;
}

.menu-tag {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 40px;
  z-index: 100;
}