@import 'common.less';
@import 'join.less';

.cock-join-food {
  position: relative;
  margin-top: 20px;
  margin-right: 45px;
  text-align: center;
}

.cock-join-food >li {
  display: inline-block;
  width: 80px;
  height: 80px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.cock-join-food >li:hover {
  background-color: rgba(0,0,0,0.4);  // 레드 그린 블루 알파
}

.cock-join-food-img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-size: cover;
  background-position: 50% 50%;
}


