@import 'common.less';

body {
  background-color: #f5f6f7;
}

.cock-join-main {
  position: relative;
  max-width: 896px;
  min-width: 590px;
  margin: auto;
}


.cock-join-title {
  max-width: 400px;
  font-size: 50px;
  margin: auto;
  text-align: center;
}

.cock-join {
  position: relative;
  max-width: 600px;
  min-width: 440px;
  margin: 20px auto;
  border: solid 1px #8e8e8e;
  padding: 40px 0 40px 50px;
  background-color: #fff;
  border-radius: 20px;
}

.cock-join-group > input {
  display: inline-block;
  max-width: 400px;
  margin-bottom: 10px;
  border: none;
  -webkit-box-shadow: none;
}

.cock-join-group > input:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.300);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.300);
}

.cock-join-group > button {
  margin-left: 10px;
  min-width: 98px;
  max-width: 98px;
}

.cock-join > .cock-join-btn {
  text-align: right;
  padding-right: 40px;
  padding-top: 20px;
}

.cock-join-group > .cock-join-capcha {
  height: 300px;
  width: 500px;
  background-color: darkgrey;
}

.cock-join > .cock-join-btn> button:first-child {
  margin-right: 10px;
}