@import 'common.less';

@main-width: 896px;
@main-color: #DF6E21;

#main-map {
  min-width: @main-width;
  max-width: 100%;
  height: 450px;
  margin-top: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.main-contents {
  max-width: @main-width;
  margin: 0px auto;
}

.main-tags-container {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
}

.frequent-tags > li {
  display: inline-block;
  min-width: 80px;
  height: 30px;
  margin: 5px;
  padding: 0px 10px;
  color: #5e5e5e;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  cursor: pointer;

  &:hover {
    color: @main-color;
  }
}

.main-card-container {
  width: 100%;
  margin-top: 20px;
}

.card-tab-btns > li {
  display: inline-block;
  width: calc(@main-width / 2);
  padding: 10px 20px;
  border-bottom: solid 1px @main-color;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: @main-color;
  cursor: pointer;

  &.active {
    background-color: @main-color;
    color: #fff;
  }
}

.card-tab-contents > li {
  display: none;

  &.active {
    display: block;
  }
}

.card-contents-list {
  margin: 20px 50px;
}

@card-height: 200px;

.card-contents-list > li {
  height: @card-height;
  margin: 10px 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-contents-img {
  display: inline-block;
  width: 300px;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
  }
}

.card-contents {
  display: inline-block;
  width: 486px;
  height: 100%;
  padding: 10px;
  vertical-align: top;
  color: #5e5e5e;
}

.card-contents-sort {
  height: 40px;
  margin-top: 10px;
  font-size: 25px;
  text-align: right;
  line-height: 40px;

  & div {
    display: inline-block;
    width: 40px;
    height: 100%;
    margin: 0 5px;
    vertical-align: top;
  }
}

.card-contents-sort-where img,
.card-contents-sort-what img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.card-contents-title {
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
}

.card-contents-tags {
  padding: 10px 20px;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & > li {
    display: inline-block;
    padding: 0 5px;
    opacity: 0.8;
  }

  & > li:first-child {
    padding-left: 0px;
  }
}