@import 'common.less';

@main-color: #cde9fe;

.contents-wrapper {
  margin: 20px 80px;
}

#main-map {
  display: inline-block;
  width: 60%;
  min-width: 500px;
  height: 500px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.main-contents {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.main-card-tab {
  position: relative;
  width: 95%;
  margin: 0px auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.card-tab-btns > li {
  display: inline-block;
  width: 50%;
  padding: 10px 0px;
  border-bottom: solid 1px @main-color;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: @main-color;
  cursor: pointer;

  &.active {
    background-color: @main-color;
    color: #fff;
  }
;
}

.card-tab-contents > li {
  display: none;

  &.active {
    display: block;
  }
}

.card-contents-list {
  margin: 10px;
}

@card-height: 150px;

.card-contents-list > li {
  height: @card-height;
  margin: 10px 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-contents-img {
  display: inline-block;
  width: 200px;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.card-contents {
  display: inline-block;
  width: 200px;
  height: 100%;
  padding: 10px;
  vertical-align: top;
  color: #5e5e5e;
}

.card-contents-title {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
}

.card-contents-tags {
  padding: 10px 20px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & > li {
    display: inline-block;
    padding: 0 5px;
    opacity: 0.8;
  }

  & > li:first-child {
    padding-left: 0px;
  }
}
