@import 'common.less';

@main-background-color: #f7f7f7;

.contents-wrapper {
  margin: -40px auto -80px auto;
  padding: 20px 80px;
  background-color: @main-background-color;
}

.main-contents-wrapper {
  padding: 0px 10px;
}

@main-min-width: 450px;
@main-box-shadow: 1px 1px 10px rgba(0,0,0,0.3); // 카드 그림자

#main-map {
  width: 100%;
  min-width: @main-min-width;
  height: 450px;
  margin: 20px 0px;
  box-shadow: @main-box-shadow;
}

.article-ranking-wrapper {
  width: 100%;
  min-width: @main-min-width;
  height: 240px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: @main-box-shadow;
}

.ranking-top {
  width: 100%;
  height: 45px;
  padding-top: 15px;
  text-align: center;
}

.rt-logo {
  display: inline-block;
  width: 175px;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

@main-letter-spacing: -1px;

.rt-title {
  display: inline-block;
  width: 100px;
  height: 100%;
  color: #3c3c3c;
  font-size: 30px;
  font-weight: bold;
  vertical-align: top;
  line-height: 30px;
  letter-spacing: @main-letter-spacing;
  opacity: 0.9;
}

.ranking-bottom {
  margin: 15px 0px;

  & > li {
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;

    &:last-child {
      padding-right: 10px;
    }
  }
}

.rb-wrapper {
  position: relative;
  margin: 10px 0px 10px 10px;
  cursor: pointer;
}

@rb-order-width: 30px;

.rb-order {
  position: absolute;
  top: -5px;
  left: -5px;
  width: @rb-order-width;
  height: @rb-order-width;
  background-color: @card-tab-color;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: @rb-order-width;
  z-index: 800;
}

.rb-dark-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 400;
}

.rb-img {
  width: 100%;
  height: 145px;
  background-size: cover;
  background-position: 50% 50%;
}

.rb-contents {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  z-index: 600;
}

.rbc-title {
  font-size: 15px;
  letter-spacing: @main-letter-spacing;
}

.rbc-count {
  padding: 5px 0px 20px 0px;
  font-size: 18px;

  i {
    padding: 2px 2px 0px 0px;
  }
}

.rb-order-list {
  display: inline-block;

}

.main-card-tab {
  width: 100%;
  min-width: @main-min-width;
  margin: 20px 0px;
  background-color: #fff;
  box-shadow: @main-box-shadow;
}

@card-tab-color: #FF7E5F; // 우측 카드리스트 탭 버튼 색상. 추후 변경 가능

.card-tab-btns > li {
  display: inline-block;
  width: 50%;
  padding: 10px 0px;
  border-bottom: solid 1px @card-tab-color;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: @card-tab-color;
  cursor: pointer;
  letter-spacing: @main-letter-spacing;

  &.active {
    background-color: @card-tab-color;
    color: #fff;
  }
}

.card-contents-sort {
  margin: 5px 10px 0px 10px;
  font-size: 14px;
  text-align: right;

  div {
    display: inline-block;
    padding: 5px;
    color: #5e5e5e;
    letter-spacing: @main-letter-spacing;
    cursor: pointer;

    &.active {
      color: @card-tab-color;
      font-weight: bold;
    }
  }
}

.sort-latest {
  margin-right: 5px;
}

.sort-article {
  margin-left: 5px;
}

.card-tab-contents {
  height: 662px;
  overflow: auto;
}

.card-tab-contents > li {
  display: none;

  &.active {
    display: block;
  }
}

.card-contents-list {
  margin: 10px 15px;

  & > li {
    position: relative;
    height: 150px;
    margin: 10px 0;
    box-shadow: @main-box-shadow;
    overflow: hidden; // 카드에서 넘치는 부분은 안보이게 처리하기 위함.
    cursor: pointer;
  }
}

.locationContainer {
  display: none;
}

@card-img-width: 200px; // 최근 업로드한 맛집 메뉴 사진 너비.

.card-img {
  display: inline-block;
  width: @card-img-width;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.card-contents {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  padding-left: @card-img-width;
  color: #5e5e5e;
}

.card-contents-favorite {
  padding: 5px 15px;
  font-size: 20px;
  color: @card-tab-color;
  text-align: right;
  line-height: 20px;
}

.card-contents-title {
  display: inline-block;
  padding: 5px 0px 5px 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: @main-letter-spacing;
}

.card-contents-count {
  display: inline-block;
  padding: 3px 0px 7px 15px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: @main-letter-spacing;
}

.card-contents-tags {
  width: 300px;
  padding: 10px 15px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & > li {
    display: inline-block;
    padding: 0px 5px;

    &:first-child {
      padding-left: 0px;
    }
  }
}

.card-update-date {
  padding: 10px 15px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: @main-letter-spacing;
}