@import 'common';

.cock-report {
  font-family: 'Noto Sans KR', serif;
  font-size: 20px;
}

.report-wrapper {
  margin: 0 auto;
  padding: 30px 50px;
  width: 40%;
  background-color: #fff;
  border: 2px solid #fafafa;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.report-rest-name {
  margin-bottom: 15px;
}

#report-textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 180px;

}