@import 'common.less';

.rest-icon {
  margin-right: 10px;
}

.edit-contents {
  color: #5e5e5e;
  font-family: 'Noto Sans KR', serif;
}

.contents-description {
  margin: 40px 0px;
  font-size: 20px;
  font-weight: bold;
}

.form-group.sm { // .form-group & .sm
  display: inline-block;
  width: 100%;

  & input {
    display: inline-block;
    float: right;
  }

  & .input-short {
    width: 70%;
  }
}

.rest-label {
  font-size: 19px;
}

#rest-edit-photo {
  display: none;
}

.rest-file-select {
  width: 70%;
  margin-left: 50px;
  vertical-align: top;
  float: right;
}

#rest-photo-preview {
  margin-top: 20px;
  width: 70%; // 320px
  height: 180px; // 180px
  float: right;
}

#rest-photo-preview img {
  max-width: 100%;
  height: 100%;
}

.edit-buttons {
  margin-top: 50px;
  text-align: right;
}
