<li class="detail-review" rid="{{id}}">
    <div class="detail-review-top">
        <div class="store-title">
            {{title}}
        </div>
        <div class="store-address">
            {{address}}
        </div>
    </div>
    <div class="store-detail">
        {{review}}
    </div>
    <a class="btn-goDetail">
        더보기
    </a>
</li>