<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Cock Cock Admin</title>
</head>
<body>
{{> ../template/admin/menu admin-article="true"}}
<div class="admin-contents">
    <div class="container-fluid">
        <div class="admin-rest-title">
            게시글 관리
        </div>
    </div>
</div>
</body>
</html>