<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Cock Cock Admin</title>
</head>
<body>
{{> ../template/admin/menu admin-alert-rest="true"}}
<div class="admin-contents">
    <div class="container-fluid">
        <div class="admin-title">
            맛집 신고
        </div>
    </div>
    <table class="admin-alert-rest-table table table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>신고ID</th>
                <th>맛집ID</th>
                <th>신고자</th>
                <th>내용</th>
                <th>상태</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    총 게시글 수 :
                    <span class="count-total-alert-rest"></span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</body>
</html>