<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Cock Cock Admin</title>
</head>
<body>
{{> ../template/admin/menu admin-main="true"}}
<div class="admin-contents">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="admin-main-card">
                    <div class="main-card-title">
                        등록된 맛집 수 :
                    </div>
                    <div class="main-card-count count-rest">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="admin-main-card">
                    <div class="main-card-title">
                        등록된 게시글 수 :
                    </div>
                    <div class="main-card-count count-article">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="admin-main-card">
                    <div class="main-card-title">
                        가입 회원 수 :
                    </div>
                    <div class="main-card-count count-member">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>