<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CockCock > Bookmark</title>
</head>
<body>
{{> template/header }}
<section class="bookmark-wrapper">
    <section class="bookmark-right">
        <section class="bookmark-map" id="main-map">
        </section>
        <section class="detail-container">
            <ul class="detail-review">
            </ul>
        </section>
    </section>
    <section class="bookmark-page">
        <div class="bookmark-page-top">
            가고싶은 콕!
        </div>
        <ul class="bookmark-container">
        </ul>
    </section>
</section>
{{> template/footer }}
</body>
</html>