<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CockCock > Bookmark</title>
</head>
<body>
{{> template/header }}
<section class="bookmark-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="bookmark-page-container col-lg-7">
                <div class="bookmark-map">
                </div>
                <div class="detail-container">
                    <ul class="detail-review">
                    </ul>
                </div>
            </div>
            <div class="bookmark-page-container col-lg-5">
                <div class="bookmark-page">
                    <div class="bookmark-page-top">
                        가고싶은 콕!
                    </div>
                    <ul class="bookmark-container">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{> template/footer }}
</body>
</html>