<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CockCock > Bookmark</title>
</head>
<body>
{{> template/header }}
<section class="bookmark-wrapper">
    <section class="bookmark-map" id="main-map">
    </section>
    <section class="bookmark-page">
        <ul class="bookmark-container">
        </ul>
    </section>
</section>
{{> template/footer }}
</body>
</html>