<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CockCock > Bookmark</title>
</head>
<body>
{{> template/header }}
    <div class="bookmark-page">
        지도
        <ul class="bookmark-container">
        </ul>
    </div>
{{> template/footer }}
</body>
</html>