<!-- sc -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
{{> template/header}}
<section class="cock-detail">
    <div class="cock-restaurants columns">
        <!-- model restaurants.js -->
    </div>
</section>
{{> template/footer}}
</body>
</html>
