<!-- 맛집 누르면 들어오는 화면 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
{{> template/header}}
<section class="cock-detail">
    <div></div>
    <div class="cock-restaurants columns">
        <!-- template restaurants.hbs -->
    </div>
</section>
{{> template/footer}}
</body>
</html>
