<!-- 맛집 누르면 들어오는 화면 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
{{> template/header}}
<section class="cock-detail">
    <div id="cock-restaurants-left" class="cock-restaurants">
        <!-- template restaurants.hbs 홀수 -->
    </div>
    <div id="cock-restaurants-right" class="cock-restaurants">
        <!-- template restaurants.hbs 짝 -->
    </div>
</section>
{{> template/footer}}
</body>
</html>
