<!-- sc -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
{{> template/header}}
<section class="cock-detail">
    <div class="columns">
        <div class="user-wrapper">
            <div class="user-info">
                <div id="user-img" class="img-circle" style="background-image: url(./img/Koala.jpg)"></div>
                <div id="user-name">알라코</div>
                <ul class="user-achievement">
                    <li>국밥</li>
                    <li>돼지테리언</li>
                    <li>신촌멋쟁이</li>
                </ul>
            </div>
            <div id="food-img" class="img-responsive" style="background-image: url(./img/bbb.jpg)"></div>
            <div class="food-text">
                <div>돼지국밥 특 1그릇 14000 원</div>
                <div>돼지국밥... 성공적...</div>
                <a class="btn-more">... 더보기</a>
                <div class="food-detail">
                    합정역 근처 예술적인 맛집!! <br>

                    하루 100 그릇 한정 판매!! <br>

                    점심시간 지나서 가면 못먹어요~ <br>

                    <div class="food-menu">
                        돼지국밥 특, 보통<br>
                    </div>

                    <ul class="food-icon">
                        <li><i class="fa fa-heart"></i></li>
                        <li><i class="fa fa-trash"></i></li>
                        <li><i class="fa fa-ban"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="user-wrapper">
            <div class="user-info">
                <div id="user-img" class="img-circle" style="background-image: url(./img/Koala.jpg)"></div>
                <div id="user-name">알라코</div>
                <ul class="user-achievement">
                    <li>국밥</li>
                    <li>돼지테리언</li>
                    <li>신촌멋쟁이</li>
                </ul>
            </div>
            <div id="food-img" class="img-responsive" style="background-image: url(./img/ccc.jpg)"></div>
            <div class="food-text">
                <div>간장게장 1접시 14000 원</div>
                <div>도둑맞았어요!!</div>
                <a class="btn-more">... 더보기</a>
                <div class="food-detail">
                    밥도둑 간장게장한테<br>

                    내 밥을 도둑맞았어요!!

                    <div class="food-menu">
                        간장게장, 간장새우, 전복...<br>
                    </div>

                    <ul class="food-icon">
                        <li><i class="fa fa-heart"></i></li>
                        <li><i class="fa fa-trash"></i></li>
                        <li><i class="fa fa-ban"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="user-wrapper">
            <div class="user-info">
                <div id="user-img" class="img-circle" style="background-image: url(./img/Jellyfish.jpg)"></div>
                <div id="user-name">파리해</div>
                <ul class="user-achievement">
                    <li>면식범</li>
                    <li>식탐왕</li>
                    <li>강남제비</li>
                </ul>
            </div>
            <div id="food-img" class="img-responsive" style="background-image: url(./img/aaa.jpg)"></div>
            <div class="food-text">
                <div>돈코츠라멘 1그릇 6000 원</div>
                <div>라멘은 역시 고라멘이지!</div>
                <a class="btn-more">... 더보기</a>
                <div class="food-detail">
                    친구의 단골집인 일본라멘집. <br>

                    처음 먹어본 일본 라멘집이라 그냥 맛 있는 집이라고 생각 했었는데, 다른 일본 라면집을 먹어보니 확실히 맛집이란걸 알앗다.<br>

                    다른 라멘집은 인스턴트 라면 같은 일본 라면 집이라면 여기는 육수를 끓여 만든 라면 국물을 사용하기 때문에 다른데 보다 속이 편안 하고 먹기 좋다.<br>

                    그리고 육수농도(보통,진하게), 면(꼬들꼬들, 보통, 퍼진면) 염도(싱겁게, 보통, 짜게) 를 커스텀마이징, 정할수 있어서 자기 취향에 맞는 라면을 먹을수 있다.<br>

                    밥, 김치는 무료로 제공해준다.(남길경우 5,000원)<br>

                    <div class="food-menu">
                        돈코츠라멘, 쇼유라멘, 부타동, 고라멘...<br>
                    </div>

                    <ul class="food-icon">
                        <li><i class="fa fa-heart"></i></li>
                        <li><i class="fa fa-trash"></i></li>
                        <li><i class="fa fa-ban"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>