<!-- 맛집 누르면 들어오는 화면 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
{{> template/header}}
<section class="cock-detail">
    <div class="detail-sort-wrapper">
        <span class="detail-sort-latest active">최신</span>
        |
        <span class="detail-sort-like">좋아요</span>
    </div>
    <div class="cock-wrapper">
        <div id="cock-restaurants-left" class="cock-restaurants">
            <!-- template restaurants.hbs 홀수 -->
        </div>
        <div id="cock-restaurants-right" class="cock-restaurants">
            <!-- template restaurants.hbs 짝 -->
        </div>
        <div id="cock-restaurants-mobile" class="cock-restaurants">
            <!-- template restaurants.hbs 전부 -->
        </div>
    </div>
    <button class="go-top-btn">
        <i class="fa fa-chevron-up"></i>
    </button>
</section>
{{> template/footer}}
</body>
</html>
