<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="contents-wrapper">
    <!-- 좌측 메인 컨텐츠 -->
    <div class="left-contents-wrapper">
        <!-- 좌측 위 메인 지도 -->
        <div id="main-map">
        </div>
        <!-- 좌측 아래 맛집 랭킹 -->
        <div class="article-ranking-wrapper">
            <div class="ranking-top">
                <div class="rt-logo" style="background-image: url('./img/main-logo1.png')"></div>
                <div class="rt-title">단골 맛집</div>
            </div>
            <ul class="ranking-bottom">
            </ul>
        </div>
    </div>
    <!-- 우측 메인 컨텐츠 -->
    <div class="right-contents-wrapper">
        <div class="main-contents">
            <div class="main-card-tab">
                <!-- 카드 리스트 탭 버튼 -->
                <ul class="card-tab-btns">
                    <li id="nearby-rest" class="active">주변 맛집</li>
                    <li id="recommend-rest">추천 맛집</li>
                </ul>
                <!-- 카드 리스트 컨텐츠 -->
                <ul class="card-tab-contents">
                    <!-- 주변 맛집 -->
                    <li id="nearby-rest-contents" class="active">
                        <div class="card-contents-sort">
                        </div>
                        <ul class="card-contents-list contents-nearby">
                        </ul>
                    </li>
                    <!-- 추천 맛집 -->
                    <li id="recommend-rest-contents">
                        <div class="card-contents-sort">
                        </div>
                        <ul class="card-contents-list contents-recommend">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>