<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="contents-wrapper">
    <!-- 좌측 메인 컨텐츠 -->
    <div class="left-contents-wrapper">
        <!-- 좌측 위 메인 지도 -->
        <div id="main-map">
        </div>
        <!-- 좌측 아래 빠른 검색 -->
        <div class="article-ranking-wrapper">
            <div class="ranking-top">
                <div class="rt-logo" style="background-image: url('./img/main-logo1.png')"></div>
                <div class="rt-title">단골 맛집</div>
            </div>
            <ul class="ranking-bottom">
                <li>
                    <div class="rb-wrapper">
                        <div class="rb-order">1</div>
                        <div class="rb-dark-layer"></div>
                        <div class="rb-contents" style="background-image: url('./img/main-img/marugame.jpg')">
                            <div class="rbc-count">111</div>
                            <div class="rbc-title">마루가메제면 신촌점</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="rb-wrapper">
                        <div class="rb-order">2</div>
                        <div class="rb-dark-layer"></div>
                        <div class="rb-contents" style="background-image: url('./img/main-img/chicken.jpg')">
                            <div class="rbc-count">90</div>
                            <div class="rbc-title">크리스터치킨 신촌점</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="rb-wrapper">
                        <div class="rb-order">3</div>
                        <div class="rb-dark-layer"></div>
                        <div class="rb-contents" style="background-image: url('./img/main-img/fish.jpg')">
                            <div class="rbc-count">56</div>
                            <div class="rbc-title">털보고된이생선구이 신촌점</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 우측 메인 컨텐츠 -->
    <div class="right-contents-wrapper">
        <div class="main-contents">
            <div class="main-card-tab">
                <!-- 카드 리스트 탭 버튼 -->
                <ul class="card-tab-btns">
                    <li id="nearby-rest" class="active">주변 맛집</li>
                    <li id="recommend-rest">추천 맛집</li>
                </ul>
                <!-- 카드 리스트 컨텐츠 -->
                <ul class="card-tab-contents">
                    <!-- 주변 맛집 -->
                    <li id="nearby-rest-contents" class="active">
                        <ul class="card-contents-list contents-nearby">
                        </ul>
                    </li>
                    <!-- 추천 맛집 -->
                    <li id="recommend-rest-contents">
                        <ul class="card-contents-list contents-recommend">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>