<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="contents-wrapper">
    <!-- 좌측 위 메인 지도 -->
    <div id="main-map">
    </div>
    <!-- 좌측 아래 빠른 검색 -->
    <div class="quick-search-wrapper">

    </div>
    <!-- 우측 메인 컨텐츠 -->
    <div class="main-contents-wrapper">
        <div class="main-contents">
            <div class="main-card-tab">
                <!-- 카드 리스트 탭 버튼 -->
                <ul class="card-tab-btns">
                    <li class="active">주변 맛집</li>
                    <li>추천 맛집</li>
                </ul>
                <!-- 카드 리스트 컨텐츠 -->
                <ul class="card-tab-contents">
                    <!-- 주변 맛집 -->
                    <li class="active">
                        <ul class="card-contents-list contents-nearby">
                        </ul>
                    </li>
                    <!-- 추천 맛집 -->
                    <li>
                        <ul class="card-contents-list contents-recommend">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>