<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<button id="btn-test" class="btn btn-default">이동</button>
<button id="btn-join-test" class="btn btn-danger">회원가입</button>
<button id="btn-join-food-test" class="btn btn-danger">회원가입-음식</button>
{{> template/footer}}
</body>
</html>