<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section id="main-map">
</section>
<section class="main-contents">
    <div class="main-tags-container">
        <ul class="frequent-tags">
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
            <li>#해시태그</li>
        </ul>
    </div>
    <div class="main-card-container">
        <div class="main-card-tab">
            <ul class="card-tab-btns">
                <li class="active">주변 맛집</li>
                <li>추천 맛집</li>
            </ul>
            <ul class="card-tab-contents">
                <li class="active">
                    <ul class="card-contents-list contents-nearby">
                    </ul>
                </li>
                <li>
                    <ul class="card-contents-list contents-recommend">
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>