<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<section class="cc-shop">
    <div id="google-map"></div>

    <div class="form-horizontal">
        <div class="cc-coordinate form-group">
            <label class="col-sm-2 control-label">선택한 위치</label>
            <div class="form-inline col-sm-10">
                <div class="form-group col-sm-5">
                    <label>위도 :</label>
                    <input type="number" class="form-control" id="cc-lat" value="37.552331" placeholder="위도">
                </div>
                <div class="form-group col-sm-5">
                    <label>경도 :</label>
                    <input type="number" class="form-control" id="cc-lng" value="126.937588" placeholder="경도">
                </div>
                <button class="btn btn-primary col-sm-2" id="locationCheck">중복확인</button>
            </div>
        </div>
        <div class="cc-sign form-group">
            <label class="col-sm-2 control-label">간판 이름</label>
            <div class="col-sm-9">
                    <input id="cc-rest-name" type="text" class="form-control" value="" placeholder="이름을 입력해주세요.">
            </div>
        </div>
    </div>
</section>
<section class="cc-card">
    <div class="form-horizontal">
        <div class="cc-img-input form-group">
            <label class="col-sm-2 control-label">그림 파일</label>
            <label for="cc-btn-background" class="col-sm-2 btn btn-primary">파일선택</label>
            <input type="file" id="cc-btn-background" accept="image/*" multiple>
        </div>
    </div>
    <ul class="cc-preview">
    </ul>
</section>
<section class="cc-comment">
    <div class="form-horizontal">
        <div class="cc-coordinate form-group">
            <label class="col-sm-2 control-label">내용</label>
            <div class="col-sm-9">
                <textarea id="cc-comment-textarea" type="text" class="form-control" rows="3"></textarea>
            </div>
        </div>
    </div>
</section>
<section class="cc-hashtag">
    <div class="form-horizontal">
        <div class="cc-coordinate form-group">
            <label class="col-sm-2 control-label">태그 입력</label>
            <div class="col-sm-9">
                <textarea id="cc-hashtag-textarea" type="text" class="form-control" rows="3"></textarea>
            </div>
        </div>
    </div>
</section>
<section class="cc-submit">
    <div>
        <button class="cc-btn-cancel btn btn-warning">취소</button>
        <button class="cc-btn-save btn btn-success">저장</button>
    </div>
</section>
{{> template/footer }}
</body>
</html>