<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<section class="cock-join-main">
    <div class="cock-join-title">선호하는 음식</div>
    <form class="cock-join">
        <label for="cock-join-food">선호하는 음식을 선택해주세요.</label><br>
        <small id="cock-join-food-help" class="form-text text-muted">선택을 안하셔도 됩니다.</small><br>
        <ul class="cock-join-food">

        </ul>
        <div class="cock-join-btn">
            <button type="button" class="cock-join-food-save btn btn-primary btn-lg">확인</button>
        </div>
    </form>

</div>
</section>
{{> template/footer }}
</body>
</html>