<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
{{> template/header }}
<section class="cock-join-main">
    <!--<div class="cock-join-title">회원가입</div>-->
    <div class="cock-join">
        <div class="cock-join-group">
            <label for="cock-join-email">Email</label><br>
            <input type="email" class="form-control" id="cock-join-email" placeholder="E-mail을 입력해주세요!">
            <button id="cock-join-email-btn" class="btn btn-info btn-sm">인증메일 전송</button><br>
            <span role="alert" class="cock-errormsg"></span>
        </div>
        <div class="cock-join-group">
            <!--<form method="post" name="authenform" onsubmit="return check();">-->
                <input type="text" name="authnum" class="form-control" id="cock-join-certification" placeholder="인증번호를 입력해주세요!">
                <button type="text" class="btn btn-info btn-sm"><!-- value="submit"-->확인</button><br>
            <span role="alert" class="cock-errormsg"></span>
            <!--</form>-->
        </div>
        <div class="cock-join-group">
            <label for="cock-join-nick">별명</label><br>
            <input type="text" class="form-control" id="cock-join-nick"placeholder="별명은 한글,영어,숫자 상관없이 2~6자 사이입니다.">
            <button class="btn btn-info btn-sm">중복확인</button><br>
            <span role="alert" class="cock-errormsg"></span>
        </div>
        <div class="cock-join-group">
            <label for="cock-join-pw">비밀번호</label><br>
            <input type="password" class="form-control" id="cock-join-pw" placeholder="6~20자 영문 대 소문자,1개의 숫자,특수문자를 사용하세요.">
            <span role="alert" class="cock-errormsg"></span>
        </div>
        <div class="cock-join-group">
            <label for="cock-join-pwc">비밀번호 재확인</label><br>
            <input type="password" class="form-control" id="cock-join-pwc" placeholder="비밀번호를 다시 입력해주세요.">
            <span role="alert" class="cock-errormsg"></span>
        </div>
        <div class="cock-join-group">
            <label for="cock-join-pw">자동등록방지</label>
            <div class="cock-join-capcha">
                <form action="?" mothod="POST">
                <div id="cock-prevent" class="g-recaptcha" data-sitekey="6Lc5fzIUAAAAAEehrbbislWASM_D5je_Q-LIudbG" data-callback="verifyCallback"></div>
                </form>
            </div>
        </div>
        <div class="cock-join-check">
            <label class="cock-join-check-label">
                <input type="checkbox" class="cock-join-check-input">
                약관동의
            </label>
        </div>
        <div class="cock-join-btn">
            <button type="button" class="cock-join-btn-cancel btn btn-danger">취소</button>
            <button type="button" class="cock-join-btn-save btn btn-primary">회원가입</button>
        </div>
    </div>
   <!-- <ul class="cock-join">
        <li class="cock-join-email">
            <span>E-mail</span><br>
            <input type="text" placeholder="E-mail을 입력해주세요!">
            <button class="btn btn-primary btn-sm">인증번호 전송</button>
        </li>
        <li class="cock-join-certification">
            <input type="text" placeholder="인증번호를 입력해주세요!">
            <button class="btn btn-primary btn-sm">확인</button>
        </li>
        <li class="cock-join-nick">
            <span>별명</span><br>
            <input type="text" placeholder="별명을 입력해주세요!">
            <button class="btn btn-primary btn-sm">중복확인</button>
        </li>
        <li class="cock-join-pw">
            <span>비밀번호</span><br>
            <input type="password" placeholder="비밀번호">
        </li>
        <li class="cock-join-pwc">
            <span>비밀번호 재확인</span><br>
            <input type="password" placeholder="비밀번호 재확인">
        </li>
        <li>
            <span>캡차 부분</span>
        </li>
        <button class="btn btn-default btn-lg">취소</button>
        <button class="btn btn-primary btn-lg">회원가입</button>
    </ul>-->

</section>
{{> template/footer }}
</body>
</html>