<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
</head>
<body>
{{> template/header info=false}}
<section class="cock-join-main">
    <div class="cock-member-info">
        <div class="cock-member-info-welcome"></div>
        <div class="cock-member-tab">
            <ul class="cock-member-tab-btns">
                <li class="cock-member-wrote active">내가 쓴 맛집</li>
                <li class="cock-member-bookmark" >즐겨찾기</li>
            </ul>
            <ul class="cock-member-tab-contents">
                <li class="board-list cock-member-contents-wrote active">
                    <table id="board-list" class="cock-member-contents-wrote-table table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>맛집이름</th>
                                <th>내용</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="8">
                                내가 쓴 맛집 수 :
                                <span class="cock-member-count-total-wrote-article"></span>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="paging-box">
                        <ul class="pagination pagination-wrote">

                        </ul>
                    </div>
                    <div class="cock-member-result-wrote" >
                        내가 쓴 맛집이 없습니다.<br>
                        방문하셨던 맛집을 회원분들과 공유해보시는건 어떠십니까?
                    </div>
                </li>

                <li class="board-list cock-member-contents-bookmark" >
                    <table id="board-list" class="cock-member-contents-bookmark-table table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>맛집이름</th>
                                <th>주소</th>
                                <th>전화번호</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="8">
                                즐겨찾기 한 맛집 수 :
                                <span class="cock-member-count-total-bookmark-article"></span>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="paging-box">
                        <ul class="pagination pagination-bookmark">

                        </ul>
                    </div>
                    <div class="cock-member-result-bookmark" >
                        즐겨찾기가 없습니다.<br>
                        맛집 즐겨찾기를 해보시는건 어떠십니까?
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>
{{> template/footer }}
</body>
</html>