<!-- 신고 페이지 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>report</title>
</head>
<body>
{{> template/header}}
<section class="cock-report">
    <div>신고합니다</div>
</section>
{{> template/footer}}
</body>
</html>
