<!-- 신고 페이지 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>report</title>
</head>
<body>
{{> template/header}}
<section class="cock-report">
    <div class="report-wrapper">
        <div class="report-rest-name">
            <label class="control-label" for="report-restaurant">식당이름</label><br>
            <input type="text" class="form-control" id="" placeholder="식당이름을 입력해주세요!">
        </div>
        <div class="report-text">
            <div class="cc-coordinate form-group">
                <label class="control-label">신고내용</label>
                <div class="">
                    <textarea id="report-textarea" type="text" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="report-btn">
            <button type="button" class="report-btn-cancel btn btn-danger">취소</button>
            <button type="button" class="report-btn-save btn btn-primary">신고</button>
        </div>
    </div>
</section>
{{> template/footer}}
</body>
</html>
