<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
{{> template/header}}
<section class="cock-search-rest">
    <div class="search-title">총 <span>0</span>개 식당 검색</div>
    <ul class="search-rest-result">
        <li class="search-no-result">검색된 식당이 없습니다.</li>
    </ul>
</section>
<section class="cock-search-article">
    <div class="search-title">총 <span>0</span>개 기사 검색</div>
    <ul class="search-article-result">
        <li class="search-no-result">검색된 기사가 없습니다.</li>
    </ul>
</section>
{{> template/footer}}
</body>
</html>
