<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<section class="cock-join-main">
    <div class="cock-join">
        <button class="cock-setting-cancel btn btn-danger btn-lg">취소</button>
        <button class="cock-setting-save btn btn-success btn-lg">저장</button>
    </div>
</section>
{{> template/footer }}
</body>
</html>