<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CockCock > login</title>
</head>
<body>
{{> template/header }}

    {{# if signedIn}}
        <section class="cock-sign-up">
        <button id="cock-logout" class="btn btn-primary">로그아웃</button>
            <button id="cock-setting" class="btn btn-primary">my page</button>
        </section>
    {{else}}
        <section class="cock-sign-in">
            <input id=cock-login-email type="email" placeholder="이메일주소">
            <input id="cock-login-pw" type="password" placeholder="비밀번호">
            <label>
                <input id="cock-login-remember" type="checkbox">
                자동로그인
            </label>
            <button id="cock-login-btn" class="btn btn-primary">로그인</button>
        </section>
    {{/if}}
{{> template/footer }}
</body>
</html>