<li menu-num="{{menuNum}}">
    이름 : <input class="menu-input-text2" maxlength="20" type="text" value="{{menu}}">
    가격 : <input class="menu-input-number2" maxlength="10" type="number" value="{{price}}">
</li>