<div class="menu-tag" draggable="true">
    <div><i class="fa fa-minus"></i></div>
    <input type="text" value="">
    <i class="fa fa-thumbs-o-up"></i>
    <i class="fa fa-thumbs-o-down"></i>
</div>