<li class="cc-preview-img">
    <ul class="background-preview" saved="{{save}}" style="background-image: url({{src}}); width: {{width}}px; height: {{height}}px;"></ul>
    <i class="cc-btn-delete fa fa-times"></i>
</li>