<li class="cc-preview-img" saved="{{save}}">
    <ul class="background-preview" style="background-image: url({{src}}); width: {{width}}px; height: {{height}}px;"></ul>
    <i class="cc-btn-delete fa fa-times"></i>
</li>